<%- include('../_header', { title: 'Edit Article'}) %>

    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
    
<%- include('../_footer') %>